html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  flex: 1 1 auto;
  background-color: #cadcfa;
}

#root {
  height: 100%;
}

#text-box,
#text-box-label {
  width: 8ch;
  text-align: left;
  color: rgb(235, 235, 235);
}

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
}

.btn {
  margin: 10px !important;
}

.close-icon {
  position: absolute !important;
  right: 0px;
  top: 0px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid rgb(235, 235, 235) !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgba(235, 235, 235, 0.42) !important;
}

.order-container {
  position: relative !important;
  font-size: 10vw;
  margin: 10px 40px;
  padding: 0px 25px 10px 25px;
  min-width: 2.5ch;
}

.order-form {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
  max-width: 600px;
}

.order-list {
  padding: 10px;
  height: 100%;
}

.order-input {
  position: absolute;
  right: 20px;
  top: 30px;
}

.num-container {
  margin: 15px 8px !important;
}

.title {
  font-size: 60pt;
  margin: 0;
  padding-bottom: 10px;
  flex: 0 1 auto;
  background-color: #2e61b3;
  color: rgb(235, 235, 235);
}
